
.merriweather-uniquifier {
    font-family: "Merriweather", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
.first-banner{
    color: white;
    background-image: url("../images/Banner\ Image.png") , url("../images/Rectangle\ 15.png");
    height: 600px;
    background-repeat: no-repeat;
    width: 1500px;
    margin: none;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-position: center;
}
.first-banner{
    align-items: center;
    justify-content: center;
    box-shadow: top 5px;
}
.second-banner{
    text-align: center;
}
.third-banner{
    background-image: url("../images/Vectorrr.png") , url("../images/Group\ 70.png");
    height: 600px;
    background-repeat: no-repeat;
    background-position: center;
     border-radius: 18px;
     width: 1320px;
     justify-content: centre;
     align-items: center;  
}
.third-banner{
    padding: 50px;
    
}
